body{margin:0px;padding:0px;color:#222222;font-size:12px;font-family: "微软雅黑";background-color:#ece8e6;}
a{text-decoration: none;color: #222;} a:hover{color: #4b5c7c;text-decoration:none;}
img{border:none;vertical-align:text-bottom; width:auto; height:auto;}
div, h1, h2, h3, h4, p, form, ul, label, input, textarea, img, span, dl, dt, dd{margin:0px;padding:0;}
.clear{clear:both;}
ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li{list-style-type: none;}
::selection{background: #3b4465;color: white;text-shadow: none;}
/*----------全站定位----------*/
#wrap{width: 984px;margin: 0px auto;padding: 0px 10px;background: none repeat scroll 0% 0% #FFF;box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);min-height: 1000px;}

/*----------网页顶部----------*/
#topnav span{float: right;}
#wrap #topnav{padding: 5px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #f1f1f1;}
#topnav a{color: #222222;}
#wrap #head{
	margin-top: 2px;
	margin-bottom: 1px;
	height: 260px;
	background: url(/static/img/logo.png) no-repeat center center;
	border-radius: 2px 2px 0 0;
}
#wrap #nav{
	font-size: 14px;
	line-height: 40px;
	background-color: #4b5c7c;
	margin-bottom: 10px;
	height: 80px;
	border-radius: 2px;
}
/*#nav ul {};*/
#nav ul li{
	float: left;
	width: 98.4px;
	text-align: center;
	position: relative;
}
.navli1 {
	/*border-bottom: 1px solid #fff;*/
}
#nav ul li .nav2 {
	display: none;
	position: absolute;
	z-index: 999;
	overflow: hidden;
	background-color: #4b5c7c;
	color: #fff;
	width: 96.4px;
	border-left: 1px solid #3b4465;
	border-right: 1px solid #3b4465;
	border-bottom: 1px solid #3b4465;
	border-radius: 0 0 2px 2px;
}
.nav2 li {
	font-size: 12px;
	overflow: hidden;
}
#nav ul li a{color: #FFFFFF;display: block;height: 40px;}
#nav ul li a:hover{color: #FFFFFF;background-color: #3b4465;text-decoration: none;}
#nav ul li a.on{background:#4b5c7c;color:#fff;}
.hover {color: #FFFFFF;background-color: #4b5c7c;}
/*----------网页左侧----------*/
#wrap .special{ width:100% !important;}
#wrap #left{float: left;width:68.50%;}
#left #ad2{width:100%; text-align:center; margin-bottom:5px; overflow:hidden;}
#left #place{font-size: 14px;line-height: 28px;height: 28px;overflow: hidden;margin-bottom: 10px; clear:left;}
#place a{color: #222222;}
#left .subnav {
	overflow: hidden;
	margin-bottom: 5px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}
.subnav li {
	float: left;
	/*margin-right: 5px;*/
	line-height: 28px;
	font-size: 14px;
}
.subnav li a {
	display: block;
	padding: 0 5px;
}
.subnav li a:hover, .subnav li a:active {
	background-color: #3b4465;
	color: #fff;
}
#left #lieb{border-top-width: 3px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #3b4465;border-right-color: #ddd;border-bottom-color: #ddd;border-left-color: #ddd;padding-right: 10px;padding-bottom: 5px;padding-left: 10px;}
#lieb dl dt span{font-size: 12px;background-color: #3b4465;float: left;padding-top: 0px;padding-right: 7px;padding-bottom: 0px;padding-left: 7px;line-height: 30px;height: 30px;}
#lieb dl dt span a{color: #FFFFFF;text-decoration: none;}
#lieb dl dt h2{font-size: 16px;float: left;margin-left: 10px;line-height: 30px;height: 30px;overflow: hidden;}
#lieb dl dt h2 a{color: #222222;line-height: 30px;height: 30px;display: block;padding-top: 0px;padding-right: 6px;padding-bottom: 0px;padding-left: 6px;}
#lieb dl dt h2 a:hover{color: #FFFFFF;background-color: #3b4465;text-decoration: none;}
#tu img{height: 90px;width: 130px;margin-right: 15px;float: left;}
#zi1 img{display: none;}
#lieb dl dd #zi1{height: 60px;overflow: hidden;float: right;line-height: 20px;font-size:14px; text-indent: 2em;}
#lieb dl dd #zi1 p{line-height: 20px;}
#lieb dl dd #zi1 a{color:#222222;}
#lieb dl dt{float:left; width:100%;margin-bottom: 15px;}
#lieb dl{padding-top: 15px;padding-bottom: 15px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ddd;}
#lieb dl dd p{line-height: 25px;color: #666666;}
#lieb dl dd .tags{margin-top: 8px;text-decoration: none;line-height: 25px;height: 25px;overflow: hidden;color: #999999;float: right;text-align: right;width: 100%;}
.tags a{color: #999999;padding:2px;}
.tags a:hover{color: #FFFFFF;background-color: #3b4465;text-decoration: none;}
#zi .tags-cloud a, #lieb .tag-name{ display:inline-block; width:147px;background-image: url(/style/images/li.png);background-repeat: no-repeat;background-position: 3px 13px; padding-left:12px; margin:10px 0;}
#lieb .tag-name {
	color: #3b4465;
	font-size: 14px;
	line-height: 1.8;
}
/*----------网页右侧----------*/
#wrap #right{float: right;width:30.50%;overflow: hidden;}
#ss #edtSearch{line-height: 26px;float: left;height: 26px;width: 220px;padding-left: 10px;border: 1px solid #ddd;}
#ss #btnPost{color: #FFFFFF;background-color: #3b4465;float: right;height: 28px;width: 60px;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;border-radius: 3px;}
#right #ss li{ background:#fff; color:#3b4465;}
#right #ss li:hover{ color:#333;}
#bdcsFlRec .bdcs-rec-float-content{ background-color:#333 !important;}
#right dl{margin-bottom: 10px; z-index:3; clear:both;}
#right dt{font-size: 14px;line-height: 32px;font-weight: 700;color: #3b4465;height: 32px;overflow: hidden;padding-right: 9px; border-bottom:solid;}
#right ul{padding-top: 7px;padding-right: 0px;padding-bottom: 7px;padding-left: 0px;}
#right li{padding-left: 12px;background-image: url(/style/images/li.png);background-repeat: no-repeat;background-position: 2px 12px;padding-top: 5px;padding-right: 5px;padding-bottom: 5px;font-size:12px;}
#right li span{ color:#3b4465;}
#divTags li{ width:130px; float:left;}
#divCatalog li{ width:130px; float:left;}

#right #divCalendar #tbCalendar{width: 100%;background-color: #f9f9f9;padding: 0px;line-height: 25px;margin: 0px;}
#tbCalendar td{background-color: #f1f1f1;text-align: center;}
#tbCalendar caption{line-height: 32px;background-color: #3b4465;font-size: 14px;}
#tbCalendar caption a{color: #FFFFFF;}
#right #ss{ margin-bottom:6px;}
#comments h5{font-size: 14px;font-weight: normal;}
#tbCalendar td a{color: #FFFFFF;background-color: #a1d0f6;display: block;}

/*----------分页条----------*/
#lieb .pagebar{ text-align:center!important;padding-top: 15px;padding-right: 0px;padding-bottom: 15px;padding-left: 0px;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px;}
.pagebar a,.pagebar a{padding-top: 3px;padding-right: 7px;padding-bottom: 3px;padding-left: 7px;margin-right: 2px;border: 1px solid #ddd;color: #222222;}
.pagebar a:hover,.pagebar a:hover{background-color: #333;border: 1px solid #3b4465;	color: #FFFFFF;}
.pagebar .now-page,.pagebar .now-page{background-color: #3b4465;padding-top: 3px;padding-right: 7px;padding-bottom: 3px;padding-left: 7px;margin-right: 3px;border: 1px solid #003399;color: #FFFFFF;}

/*----------列表页上下篇翻页----------*/
#post-nav .pagebar-previous a,.pagebar-next a{display:block;width:108px;height:282px;position:fixed;left:50%;top:50%;margin-top:-141px;background:url("/style/images/arrow.png") no-repeat;} 
#post-nav .pagebar-previous a{margin-left:-615px;background-position:0 0;} 
#post-nav .pagebar-next a{margin-left:507px;background-position:0 -320px;} 
#post-nav .pagebar-previous a:hover,.pagebar-next a:hover{background-color:#222222;}
#post-nav .pagebar-previous a span,.pagebar-next a span{ display:none;}

/*----------首页友情链接----------*/
#wrap #links{padding: 9px;border: 1px solid #ddd;margin-top: 10px;}
#links ul li{float: left;margin-right: 10px;padding-top: 5px;padding-right: 0px;padding-bottom: 5px;padding-left: 0px;}

/*----------网页底部----------*/
#wrap #footer{margin-left:-10px;margin-right:-10px;line-height: 26px;margin-top:10px;padding-top:8px;border-top-width:2px;border-top-style: solid;border-top-color: #3b4465;padding-bottom:8px;background-color: #4b5c7c;}

#wrap #footer p{margin-left:12px;color:#FFF;}
#wrap #footer p a{color:#FFF;}
#wrap #footer span{ width:83px; height:60px; float:right; margin-top:-5px; margin-right:10px; background:url(/style/images/footer_favicon.png) no-repeat;}

/*----------侧栏跟随----------*/
#box{float:left; position:relative;width:300px;}
#box .div1{width:300px; background:#FFF;}
#box .div2{position:fixed;_position:absolute;top:10px;z-index:300;}

/*----------网站内容页----------*/
#left #info{ padding: 10px;border-top-width: 3px;border-right-width: 1px;border-bottom-width: 1px;border-left-width: 1px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;border-top-color: #3b4465;border-right-color: #ddd;border-bottom-color: #ddd;border-left-color: #ddd;}
#info #title{line-height: 26px;color: #222222;padding:10px 5px;border-bottom-width: 1px;border-bottom-style: solid;border-bottom-color: #ddd;}
#title h1{font-size: 22px;line-height: 35px;color: #000!important;font-weight:bold;margin-bottom:10px;text-align: center;}
#title h1 a:link, #title h1 a:visited {color: #4b5c7c!important;}
#title h1 a:hover, #title h1 a:active {color: #3b4465!important;}
#ckepop{ float:right;}
#ckepop .bdlikebutton{ z-index:500;}
#title p em{float: right;font-style: normal;}
#info #zi{font-size: 14px;line-height: 1.8;color: #000000;}
#zi p{line-height:26px;font-family: "微软雅黑";font-size:15px;}
#contents {
	margin: 20px auto;
	overflow: hidden;
	line-height: 32px;
	font-size: 16px;
	letter-spacing: 0.5px;
}
#contents p {
	text-indent: 2em;
	line-height: 36px;
	font-size: 16px;
}
.articleurl {
	margin-top: 20px;
	line-height: 32px;
}
.articleurl a {
	margin-left: 10px;
}
.bdlikebutton {
	margin: 0 auto;
	text-align: center;
}
#zi a{color:#3b4465;}
#zi p img{ max-width:99%; height:auto!important; margin:0 auto; border:1px solid #DDDDDD;padding:2px;}
#info #zi table,td{ border:solid 1px #CCCCCC;}
blockquote{	display:block;padding:0 10px;margin:5px 0;border: 1px solid #3b4465;border-left-width:4px; background-color: #F4F5F6;}
blockquote p{ margin-top:5px;margin-bottom:5px!important;}
#zi .context_box {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
}
#zi .context_box span{ float:right; width:450px;}
#zi #ad3 { width:100%; text-align:center; margin-top:10px; margin-bottom:10px;}
#cyEmoji p{ text-align:center;}
#cyEmoji .emoji-tip{ height:0px !important;}
#hm_t_62962{margin-left:-5px; margin-top:-25px; text-align:center;}

#info .special_title h1{ text-align:center;}
#zi .special_tag span{margin-top:0px !important;}

/*----------文章上下篇翻页----------*/
#post-nav a.prev,a.next{display:block;width:108px;height:282px;position:fixed;left:50%;top:50%;margin-top:-141px;background:url("/style/images/arrow.png") no-repeat;} 
#post-nav a.prev{margin-left:-615px;background-position:0 0;} 
#post-nav a.next{margin-left:507px;background-position:0 -320px;} 
#post-nav a.prev:hover,a.next:hover{background-color:#d0d0d0;}

/*----------嵌套评论样式----------*/
.commentlist .msg{padding-top:10px;}
ul.msg{text-align:left;list-style-position:outside;table-layout: fixed; word-wrap:break-word;}
ul.msg:hover{ background-color:#FFFFCC; border-left:1px dashed #3b4465; border-right:1px dashed #3b4465;}
li.msgname{ padding-top:10px;padding-bottom:5px;margin:0px;font-weight: normal;font-size:13px;}
li.msgname .info{font-size:12px;color:#888;}
li.msgurl{text-align:right;padding:2px 10px 2px 10px;margin:0;font-size:1em;}
li.msggravatar{display:block;float:left;margin-right:5px;}
li.msgarticle{list-style-position : outside;line-height:22px;border-bottom:1px dashed #3b4465;padding-bottom:10px;margin-top: 0px;margin-right: 0px;margin-left: 0px;}
li.msgtime{padding:5px 0 0 0;font-weight: normal; font-size:0.8em;}
img.avatar{width:34px;height:34px; float:left;padding:2px;margin-right:2px;border:1px solid #ccc;}
.floor{float:right;color: #3b4465;font-size: 20px;}
ul.msg ul.msg{padding:10px;background-color:#f0f0f0;border: 1px solid #ddd;margin-top: 5px;margin-right: 0;margin-bottom: 0;margin-left: 0;}
ul.msg ul.msg li.msgarticle{padding-bottom:0px;border-bottom:0px solid #eaeaea;}
ul.msg ul.msg li.msgname{padding:0px;}
.msg .pagebar .l{float:left;}
.msg .pagebar .r{float:right;}

/*----------评论发布样式----------*/
#divCommentPost{font-size:12px; padding-bottom:10px;width:100%; clear:both; border-bottom:1px dashed #3b4465;}
#divCommentPost h4{background-color:#3b4465;font-size: 14px;line-height: 32px;font-weight: 700;color: #FFFFFF;height: 32px;overflow: hidden; padding-left:10px;}
#divCommentPost label{height:15px;overflow:hidden;clear:left;float:left;line-height:15px;padding:6px 10px; border-color:#CCC;border-style:solid;border-width:1px 0 1px 1px;margin:0;}
#divCommentPost .cancel{margin-left:205px;}
#divCommentPost small{color:#999;font-size:12px;font-weight:400;margin-left:10px;line-height:29px;}
#divCommentPost .keep{color:#888;font-size:12px;font-weight:400;}
#divCommentPost img{margin-top:3px;margin-left:10px;}
#divCommentPost p{margin-bottom:10px;padding:0;}
input[type="text"]{font-size:12px;color:#333;font-family:Verdana, Arial, Helvetica,sans-serif;}
#inpName,#inpEmail,#inpHomePage{width:200px;border:1px solid #CCC;height:15px;float:left;margin:0;padding:6px 10px;}
#inpVerify{width:176px;border:1px solid #CCC;height:15px;float:left;margin:0;padding:6px 10px;}
#txaArticle{background-image: url(/style/images/comment.gif);	font-size:12px;	color:#333;	font-family:Verdana, Arial, Helvetica,sans-serif;width:98%;	height:120px;border:1px solid #CCC;	padding:5px;background-repeat: no-repeat;	background-position: center center;}
#divCommentPost .button{ float:right;font-size:14px;line-height:30px;color:#FFF;background-color:#3b4465; height:30px;width:100px;border-width:0;}
#divCommentPost .button:hover{cursor:pointer;}

#left #ad4{text-align:center;overflow: hidden;}

#guan h4{ color:#3b4465; font-size: 14px;line-height: 32px; border-bottom:solid 1px #ddd;}
#guan li{line-height: 28px;padding-right: 5px;padding-left: 5px;color: #999999;}
#guan li span{float:right; font-size:12px;}
#guan li a{ color:#222; font-size:12px;}

/* -----------------------------手机菜单部分----------------------------- */
#navs-wrap{margin-top:0px;display:none;}

/*searchbar*/
#simplemodal-container {background:rgba(0,0,0,.6); position:fixed; left:0; top:0; width:100%; height:100%; color:#fff; padding:12px 12px 40px; z-index:999; display:none;}
#searchbar {display:none; width:300px; height:100px; position:fixed; top:50%; margin-top:-50px; left:50%; margin-left:-150px;  background-color:#E04D47; padding:8px; text-transform:uppercase; font-size:0.875em; text-align: center; z-index:1000;}
#searchbar p {margin-bottom:10px; color:#fff;}
#searchbar form input {text-transform: none; border: medium none; background:#fff; color: #333; height: 30px;border-radius: 2px;}
#searchbar .submit {cursor:pointer; -webkit-appearance:none;background: #fd6639;
color: #fff;
font-weight: bold;
cursor: pointer;
padding: 5px 15px;}
/*header*/
/** 上下篇 **/
.nav-single {
	margin: 10px 0px;
}
.meta-nav {
	background: #fff;
	float: left;
	width: 43.5%;
	text-align: center;
	margin-right: -1px;
	padding: 10px 20px;
	white-space: nowrap;
	word-wrap: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #ddd;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}
.nav-single a {
	display: block;
}
.meta-nav:hover {
	color: #fff;
	background: #568abc;
	border: 1px solid #568abc;
}
.post-nav {
}
/*---------响应式----------*/
@media screen and (max-width:980px){
#top{display:block}
}
@media screen and (max-width:960px){
html{-webkit-text-size-adjust:none}
embed,iframe{ max-width:100%;}
#wrap,#footer{ width:100%; padding:0 0 !important;}
#footer{ margin:0 0 !important;}
#left{width:100% !important;margin:auto;margin-top:50px;}
#hm_t_62962{ width:665px; margin-left:auto; margin-right:auto;}
#head,#ad1,#topnav,#nav,#right,#post-nav,#left .special-ad,#zi .context_box span,#BY-NC-ND,#footer span{display:none;}
#navs-wrap{width:100%;background-color:#4b5c7c;position:fixed;box-shadow:0 0 5px #999;z-index:99;height:40px;top:0;display:block;}
#logos{float:left;display:block;}
#logos h1,#logos h2{font-size:18px;display:block;text-shadow:none;color:#fff;font-family:'Microsoft YaHei', Verdana, Arial;line-height: 40px; padding-left: 20px;}
#logos h1 a,#logos h2 a{color:#fff;text-decoration:none;display:block;font-size: 18px;}
/* menu icon */
#navs-wrap .menu-icon{font-size:16px;color:#fff;width:42px;height:30px;background:#222 url(/style/images/btn_2.png) no-repeat 10px center;padding:8px 10px 0 42px;cursor:pointer;border:solid 1px #3b4465;display:block;float:right;}
#navs-wrap .select{background:#3b4465 url(/style/images/btn_1.png) 10px no-repeat;}
/* main nav */
#navs{ top:40px;right:0px;width:94px; position:absolute;border:1px solid #222222;display:none; background:#3b4465;}
#navs li{ text-align:center; line-height:30px; }
#navs li a{ text-align:center; font-size:16px; color:#FFFFFF;display:block; }
#navs a:hover,#nav ul a:hover{background:#CCCCCC;color:#222222; text-decoration:none;}
#tu img{ position:absolute; left:10px; margin-top:45px;}
#lieb dl dd #zi1{ width:auto;}
#lieb dl dd .tags{ float:right; width:auto;overflow:visible; line-height:15px; height:20px;}
#left #ad2{ display:block;}
}
@media screen and (max-width:675px){
#tu img{ margin-top:30px;}
#lieb dl dt span,#left center,#hm_t_62962,#ad4{display:none;}
#lieb dl dt{ margin-bottom:0px;}
#lieb dl dt h2{ font-size:14px; margin-left:-5px;}
#lieb dl dt h2 a{ color:#3b4465;}
#lieb dl dt h2 a:hover{ color:#222222; background:none;}
#lieb dl dd .tags { float:right; width:auto; overflow:visible; line-height:15px; height:20px;}
#zi1{ width:auto !important; height:auto;}
#guan li a{ overflow:hidden;}
.meta-nav {width:37%}
}
@media screen and (max-width:500px){
#wrap #links,#ckepop,#title .bdsharebuttonbox,#zi #cyEmoji,#guan li span{display:none;}
/*#lieb dl{ margin-bottom:-15px;}*/
#lieb dl dd #zi1,#lieb dl dd .tags{height::80px; text-align:justify;}
#lieb .pagebar{ margin-top:10px; margin-bottom:-10px;}
#zi #ad3{margin-left:-11px;}
}
@media screen and (max-width:375px){
#tu img{height: 60px;width: 90px;}
#lieb dl dd #zi1{ }
#lieb dl dd .tags{ margin-left:0px;}
#left #ad2{ margin-left:-11px; width:107%;}
#inpName, #inpEmail, #inpHomePage{ width:150px;}
}
#ad2 img{ width:100%; height:auto}
#ad3 img{ width:100%; height:auto}
/* gototop */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #3b4465 url(/style/images/cd-top-arrow.png) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* 如果用户继续向下滚动,这个按钮的透明度会变得更低 */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
#info #zi img {
    max-width: 100%;
}
/* 网站地图 */
#contents .map1 {
	overflow: hidden;
}
.map1 .mapli1 {
	/*float: left;*/
	/*height: 40px;*/
	line-height: 40px;
	/*border-bottom: 1px solid #4b5c7c;*/
	margin-top: 40px;
	text-indent: 10px;
	padding-bottom: 20px;
}
#zi .mapli1 a {
	display: block;
	font-size: 20px;
	background-color: #4b5c7c;
	color: #fff;
}
.mapli1 .map2 {
	overflow: hidden;
	margin: 10px 0 0 2em;
}
.map2 li {
	float: left;
	padding: 0 5px;
	margin-right: 10px;
	text-indent: 0;
}
#zi .map2 li a {
	font-size: 14px;
	display: block;
}
#zi .map2 li a:link, #zi .map2 li a:visited {
	color: #666;
	background-color: #fff;
}
#zi .map2 li a:hover, #zi .map2 li a:active {
	color: #3b4465;
}