
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    {% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<meta name="keywords" content="经典文章阅读">
<meta name="description" content="每天都有经典好文章分享给你。">
<title>文章网</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/style/images/favicon.ico">
<link rel="apple-touch-icon" href="/style/images/favicon_touch.png">
<link rel="stylesheet" rev="stylesheet" href="{% static 'css/default.css' %}" type="text/css" media="screen">
<script src="{% static 'js/common.js' %}" type="text/javascript"></script>
</head>
<body>

<div id="wrap">
	<div id="topnav">
		<span></span>
			欢迎访问<a href="#" title="半月文章网">文章网</a>
			</div>
		<div id="head">
			<div class="clear"></div>
		</div>


	<div id="left">
		<div id="place">
			<strong>你的位置：</strong>
            <a href="/index" title="文章网">首页</a>&nbsp;>&nbsp;
            <a href="#" title="{{ query }}">{{ query }}</a>
		</div>



		<div id="lieb">
            {% for item in page %}
			<dl>

	            <dt>
                    <span><a target="_blank" href="/list/{{ item.object.read_type.id }}/1" title="{{ item.object.read_type.type }}">{{ item.object.read_type.type }}</a></span>
	            <h2>
                    <a target="_blank" href="/detail/{{ item.object.id }} " title="{{ item.object.title }}">{{ item.object.title }}</a>
                </h2>
	            </dt>
	        <dd>
	            <div id="zi1">
		            <p><a target="_blank" href="#">{{ item.object.detail|safe }}</a></p>
	            </div>

	            <p class="tags">{{ item.object.create_time }} | 阅读：<span>{{ item.object.readcount }}</span> | 标签：
					{% for tag in item.object.read_tag_info.all %}
                    <a href='/tag/{{ tag.read_tag }}/1' target='_blank' title='{{ tag.read_tag }}' rel='tag'>{{ tag.read_tag }}</a>&nbsp;
					{% endfor %}
	        </dd>
                <div class="clear"></div>

            </dl>
            {% endfor %}




			<dl class="pagebar">

               {% if page.has_previous %}
				<a href="/search?q={{ query }}&page={{ page.previous_page_number }}">上一页></a>
				{% endif %}
				{% for pindex in　paginator.page_range %}

					{% if pindex == page.number %}
						<a href="/search?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>
					{% else %}
						<a href="/search?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>
					{% endif %}
				{% endfor %}
				{% if page.has_next %}
				<a href="{% url 'index:list' type.id articles_page.next_page_number %}">下一页></a>
				{% endif %}
            </dl>
		</div>
	</div>

	<div id="right">
		<dl id="ss">

		<form method='get' action="/search" target="_blank">
			<input type="text" name="q" id="edtSearch" class="text" autocomplete="off" placeholder="请输入关键词" x-webkit-speech=""/>
			<input type="submit" id="btnPost" value="查询"/>
		</form>

	</div>



			<div class="clear"></div>

	<div class="clear"></div>
	<div id="links">
		<ul>
            <li><strong>友情链接</strong>：</li>
            <li><a href="http://www.osimg.com" title="osimg" target="_blank">osimg绅士网站</a></li>
            <div class="clear"></div>
        </ul>
	</div>


	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<a href="#0" class="cd-top">Top</a>
	<div class="footer" id="footer">
		<p>© 2018 半月文章网 www.byjpeixun.com  | <a href="#" target="_blank" title="关于我们">关于我们</a> | <a href="/contact.html" target="_blank" title="联系方式">联系方式</a> | <a href="/tags/" target="_blank" title="话题列表">文章标签</a> | <a href="/map.html" target="_blank" title="网站地图">网站地图</a></p>
		<p id="BY-NC-ND">本站所有文章内容均来源于互联网，版权归原作者所有，所有文章内容观点与本站立场无关，如不慎侵犯了您的权益，请联系我们，我们将在第一时间处理！</p>
	</div>

	<div id="simplemodal-container"></div>

	<div id="searchbar">
		<p>全站搜索</p>
		<form onsubmit="return checkSearchForm()" method="post" name="searchform" action="/e/search/index.php">
			<input type="hidden" value="title" name="show"><input type="hidden" value="1" name="tempid"><input type="hidden" value="news" name="tbname"><input name="mid" value="1" type="hidden"><input name="dopost" value="search" type="hidden"><input type="text" name="keyboard" id="edtSearch" class="text" value="输入搜索关键词" onblur="if($(this).val() == ''){$(this).val('输入搜索关键词');}" onfocus="if($(this).val() == '输入搜索关键词'){$(this).val('');}" x-webkit-speech=""/><input type="submit" id="btnPost" name="submit" class="submit" value="搜索"/>
		</form>
	</div>
</div>

<script src="{% static 'js/inbody.js' %}" type="text/javascript"></script>

</body>
</html>