
<!--Cache at 2019-05-06 10:08:12-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
    {% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Language" content="zh-CN">
<meta name="keywords" content="文章阅读">
<meta name="description" content="每天都有经典好文章分享给你">
<title>文章网</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="#">
<link rel="apple-touch-icon" href="#">
<link rel="stylesheet" rev="stylesheet" href="{% static 'css/default.css' %}" type="text/css" media="screen">
<script src="{% static 'js/common.js' %}" type="text/javascript"></script>
</head>
<body>
<div id="wrap">
	<div id="topnav">
		<span></span>
			欢迎访问<a href="#" title="半月文章网">文章网</a>
	</div>
	<div id="head">
		<div class="clear"></div>
	</div>


	<div id="nav">


		<ul class="nav1">

			<li class="navli1"><a href="/index" title="文章网">首页</a></li>

			{% for read_type in read_types %}

			<li class="navli1"><a href="/list/{{ read_type.id }}/1" title="文章">{{ read_type.type }}</a>
			{% endfor %}
				<!--<ul class="nav2">-->
                    <!--<li><a href="/list-20-0.html" title="爱情文章">爱情文章</a></li>-->
                    <!--<li><a href="/list-21-0.html" title="亲情文章">亲情文章</a></li>-->
                <!--</ul>-->
		</ul>
	</div>



	<nav id="navs-wrap">
		<div id="logos">
			<h1><a href="/index" title="半月文章网">文章网</a></h1>
		</div>
		<div class="menu-icon">导航</div>

		<ul id="navs" class="menu">
			<li class="searchBtn"><a name="search">本站搜索</a></li>
			{% for read_type in read_types %}
			<li><a href="/list/{{ read_type.id }}/1" title="{{ read_type.type }}">{{ read_type.type }}</a></li>
 			{% endfor %}
        </ul>
	</nav>

{% block body %}{% endblock body %}


	<div id="right">
		<dl id="ss">



			<form method='get' action="/search" target="_blank">
                <input type="text" name="q" id="edtSearch" class="text" autocomplete="off" placeholder="请输入关键词" x-webkit-speech=""/>
                <input type="submit" id="btnPost" value="查询"/>
			</form>



			<div class="clear"></div>



		</dl>
		<dl class="function">
			<dd class="function_c">
				<div><script src="{% static 'js/thea2.js' %}"></script></div>
			</dd>
		</dl>
		<dl class="function">
			<dt class="function_t">最新文章</dt>
			<dd class="function_c">
				{% for new_article in new_articles %}
				<ul>
                    <li><a href="/detail/{{ new_article.id }}" title="{{ new_article.title }}">{{ new_article.title }}</a></li>
                </ul>
				{% endfor %}
			</dd>
		</dl>



		<dl class="function">
			<dd class="function_c">
				<div>
					<script src="{% static 'js/thea3.js' %}"></script>
				</div>
			</dd>
		</dl>


		<dl class="function">
			<dt class="function_t">热门文章</dt>
			<dd class="function_c">

				<ul>
					{% for hot_article in hot_articles %}
                    <li><a href="/detail/{{ hot_article.id }}" title="{{ hot_article.title }}">{{ hot_article.title }}</a></li>
					{% endfor %}
                </ul>

			</dd>
		</dl>




		<dl class="function">
			<dd class="function_c">
				<div><script src="{% static 'js/thea4.js' %}"></script></div>
			</dd>
		</dl>
		<dl class="function" id="divTags">
			<dt class="function_t">热门标签</dt>
			<dd class="function_c">
				<ul>
                    <li class="tag-name">
						{% for hot_tag in hot_tags %}
                        <a href="/tag/{{ hot_tag.read_tag }}/1" title="{{ hot_tag.read_tag }}">{{ hot_tag.read_tag }}
						{% endfor %}
                            <!--<span class="tag-count"></span>-->
                        </a>
                    </li>
                </ul>
			</dd>
		</dl>





		<!--<dl class="function">-->
			<!--<dd class="function_c">-->
				<!--<div>-->
					<!--<script src="{% static 'js/thea5.js' %}"></script>-->
				<!--</div>-->
			<!--</dd>-->
		<!--</dl>-->
		<!--<dl class="function">-->
			<!--<dt class="function_t">随机文章阅读</dt>-->
			<!--<dd class="function_c">-->
				<!--<ul>-->
                    <!--<li><a href="/article-95-211680-0.html" title="“我 想 你 没 睡”">“我 想 你 没 睡” (9)</a></li>-->
                <!--</ul>-->
			<!--</dd>-->
		<!--</dl>-->



	</div>






	<div class="clear"></div>
	<div id="links">
		<ul>
            <li><strong>友情链接</strong>：</li>
            <li><a href="http://www.osimg.com" title="osimg" target="_blank">osimg绅士网站</a></li>
            <div class="clear"></div>
        </ul>
	</div>


	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
	<a href="#0" class="cd-top">Top</a>
	<div class="footer" id="footer">
		<p>© 2018 。。。。。  | <a href="#" target="_blank" title="关于我们">关于我们</a> | <a href="/contact.html" target="_blank" title="联系方式">联系方式</a> | <a href="/tags/" target="_blank" title="话题列表">文章标签</a> | <a href="/map.html" target="_blank" title="网站地图">网站地图</a></p>
		<p id="BY-NC-ND">本站所有文章内容均来源于互联网，版权归原作者所有，所有文章内容观点与本站立场无关，如不慎侵犯了您的权益，请联系我们，我们将在第一时间处理！</p>
	</div>

	<div id="simplemodal-container"></div>

	<div id="searchbar">
		<p>全站搜索</p>
		<form onsubmit="return checkSearchForm()" method="post" name="searchform" action="/e/search/index.php">
			<input type="hidden" value="title" name="show"><input type="hidden" value="1" name="tempid"><input type="hidden" value="news" name="tbname"><input name="mid" value="1" type="hidden"><input name="dopost" value="search" type="hidden"><input type="text" name="keyboard" id="edtSearch" class="text" value="输入搜索关键词" onblur="if($(this).val() == ''){$(this).val('输入搜索关键词');}" onfocus="if($(this).val() == '输入搜索关键词'){$(this).val('');}" x-webkit-speech=""/><input type="submit" id="btnPost" name="submit" class="submit" value="搜索"/>
		</form>
	</div>
</div>

<script src="{% static 'js/inbody.js' %}" type="text/javascript"></script>

</body>
</html>